<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.ApprovalMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.model.DO.Approval">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="openingPlanId" column="opening_plan_id" jdbcType="BIGINT"/>
            <result property="textbookIds" column="textbook_ids" jdbcType="BIGINT"/>
            <result property="teachingGroupState" column="teaching_group_state" jdbcType="SMALLINT"/>
            <result property="teachingGroupMessage" column="teaching_group_message" jdbcType="VARCHAR"/>
            <result property="secondaryCollegeState" column="secondary_college_state" jdbcType="SMALLINT"/>
            <result property="secondaryCollegeMessage" column="secondary_college_message" jdbcType="VARCHAR"/>
            <result property="deansOfficeState" column="deans_office_state" jdbcType="SMALLINT"/>
            <result property="deansOfficeMessage" column="deans_office_message" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,opening_plan_id,textbook_ids,
        teaching_group_state,teaching_group_message,secondary_college_state,
        secondary_college_message,deans_office_state,deans_office_message,
        state,create_time,update_time,
        is_deleted
    </sql>
</mapper>
