<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.Grade">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="majorId" column="major_id" jdbcType="BIGINT"/>
            <result property="year" column="year" jdbcType="SMALLINT"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,major_id,year,
        number,create_time,update_time,
        is_deleted
    </sql>
    <select id="listAll" resultType="com.chen.graduation.beans.VO.GradeVO">
        select tb_grade.id, concat(tm.name, tb_grade.year, '级', tb_grade.number, '班') as name
        from tb_grade
                 left join tb_major tm on tb_grade.major_id = tm.id
        where tb_grade.is_deleted = 0
          and tm.is_deleted = 0;
    </select>
</mapper>
