<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.LoginLogMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.LoginLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="accessTime" column="access_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,ip,state,message,access_time,create_time,update_time,is_deleted,
        browser,os,login_location
    </sql>

    <select id="selectLoginLogList" resultType="com.chen.graduation.beans.PO.LoginLog">
        select
        <include refid="Base_Column_List"/>
        from tb_login_log
        <where>
            <if test="search.ip != null and search.ip != ''">
                AND ip like concat('%', #{search.ip}, '%')
            </if>
            <if test="search.status != null">
                AND state = #{search.status}
            </if>
            <if test="search.name != null and search.name != ''">
                AND account like concat('%', #{search.name}, '%')
            </if>
            <if test="search.beginTime != null and search.beginTime != ''"><!-- 开始时间检索 -->
                and access_time &gt;= #{search.beginTime}::timestamp
            </if>
            <if test="search.endTime != null and search.endTime != ''"><!-- 结束时间检索 -->
                and access_time &lt;=  #{search.endTime}::timestamp
            </if>
        </where>
        order by id desc
    </select>
</mapper>
