<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.OpeningPlanMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.OpeningPlan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="secondaryCollegeId" column="secondary_college_id" jdbcType="BIGINT"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="gradeId" column="grade_id" jdbcType="BIGINT"/>
            <result property="teachingGroupId" column="teaching_group_id" jdbcType="BIGINT"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,secondary_college_id,teacher_id,
        grade_id,teaching_group_id,state,
        create_time,update_time,is_deleted
    </sql>
</mapper>
