<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.OpeningPlanMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.OpeningPlan">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="secondaryCollegeId" column="secondary_college_id" jdbcType="BIGINT"/>
        <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
        <result property="gradeId" column="grade_id" jdbcType="BIGINT"/>
        <result property="teachingGroupId" column="teaching_group_id" jdbcType="BIGINT"/>
        <result property="state" column="state" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="openPlanWithDetails" extends="BaseResultMap" type="com.chen.graduation.beans.PO.OpeningPlan">
        <result property="secondaryCollege" column="secondaryCollege" jdbcType="VARCHAR"/>
        <result property="teachingGroup" column="teachingGroup" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="VARCHAR"/>
        <association property="teacher" >
            <result property="id" column="teacherId"/>
            <result property="name" column="teacherName"/>
            <result property="avatar" column="teacherIcon"/>
        </association>
        <collection property="openingPlanDetails" ofType="com.chen.graduation.beans.PO.OpeningPlanDetail" >
            <id column="id2" property="id"/>
            <result column="course_name" property="courseName"/>
            <result column="credit" property="credit"/>
            <result column="teaching_hours" property="teachingHours"/>
            <result column="weeks_teach" property="weeksTeach"/>
            <result column="type" property="type"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,secondary_college_id,teacher_id,
        grade_id,teaching_group_id,state,
        create_time,update_time,is_deleted
    </sql>

    <select id="getPlanByUser" resultMap="openPlanWithDetails">
        select top.*,
        tsc.name as secondaryCollege,
        tu.id    as teacherId,
        tu.name    as teacherName,
        tu.icon    as teacherIcon,
        ttg.name as teachingGroup,
        grade.name as grade,
        topd.id as id2,
        topd.course_name,
        topd.credit,
        topd.teaching_hours,
        topd.weeks_teach,
        topd.type
        from tb_opening_plan top
        left join tb_opening_plan_detail topd on top.id = topd.opening_plan_id
        left join tb_secondary_college tsc on top.secondary_college_id = tsc.id
        left join tb_user tu on top.teacher_id = tu.id
        left join tb_teaching_group ttg on top.teaching_group_id = ttg.id
        left join (select tb_grade.id as id, concat(tm.name, tb_grade.year, '级', tb_grade.number, '班') as name
        from tb_grade
        left join tb_major tm on tb_grade.major_id = tm.id
        where tb_grade.is_deleted = 0
        and tm.is_deleted = 0) grade on top.grade_id = grade.id
        <where>
            <if test="user.id!=null">
                top.teacher_id = #{user.id}
            </if>
            <if test="user.gradeId!=null">
                or top.grade_id = #{user.gradeId}
            </if>
            and top.is_deleted=0
            and topd.is_deleted=0
            and tsc.is_deleted=0
            and tu.is_deleted=0
            and ttg.is_deleted=0
        </where>
    </select>

</mapper>
