<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.OpeningPlanMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.OpeningPlan">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="secondaryCollegeId" column="secondary_college_id" jdbcType="BIGINT"/>
        <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
        <result property="gradeId" column="grade_id" jdbcType="BIGINT"/>
        <result property="teachingGroupId" column="teaching_group_id" jdbcType="BIGINT"/>
        <result property="state" column="state" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="openPlanWithDetails"  type="com.chen.graduation.beans.VO.OpeningPlanVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <association property="teachingGroup">
            <id property="id" column="teaching_group_id" jdbcType="BIGINT"/>
            <result property="name" column="teaching_group_name" jdbcType="VARCHAR"/>
        </association>
        <association property="secondaryCollege">
            <id property="id" column="secondary_college_id" jdbcType="BIGINT"/>
            <result property="name" column="secondary_college_name" jdbcType="VARCHAR"/>
        </association>
        <association property="major">
            <id property="id" column="major_id" jdbcType="BIGINT"/>
            <result property="name" column="major_name" jdbcType="VARCHAR"/>
        </association>
        <association property="grade">
            <id property="id" column="grade_id" jdbcType="BIGINT"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
        </association>
        <association property="teacher">
            <id property="id" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="user_name" jdbcType="VARCHAR"/>
            <result property="phone_number" column="user_phone_number" jdbcType="VARCHAR"/>
            <result property="avatar" column="user_icon" jdbcType="VARCHAR"/>
            <association property="userInfo">
                <result property="email" column="user_email" jdbcType="VARCHAR"/>
                <result property="address" column="user_address" jdbcType="VARCHAR"/>
                <result property="sex" column="user_sex" jdbcType="INTEGER"/>
            </association>
        </association>
        <collection property="openingPlanDetails" ofType="com.chen.graduation.beans.VO.OpeningPlanDetailVO">
            <id property="id" column="course_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name"/>
            <result property="credit" column="credit"/>
            <result property="teachingHours" column="teaching_hours"/>
            <result property="weeksTeach" column="weeks_teach"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,secondary_college_id,teacher_id,
        grade_id,teaching_group_id,state,
        create_time,update_time,is_deleted
    </sql>

    <select id="getPlanByUser" resultMap="openPlanWithDetails">
        select top.id as id,
        top.state as state,
        top.create_time as create_time,
        ttg.id as teaching_group_id,
        ttg.name as teaching_group_name,
        tsc.id as secondary_college_id,
        tsc.name as secondary_college_name,
        tm.id as major_id,
        tm.name as major_name,
        tg.id as grade_id,
        tg.year as year,
        tg.number as number,
        tu.id as user_id,
        tu.name as user_name,
        tu.icon as user_icon,
        tu.phone_number as user_phone_number,
        tui.email as user_email,
        tui.address as user_address,
        tui.sex as user_sex,
        topd.id as course_id,
        topd.course_name as course_name,
        topd.credit as credit,
        topd.teaching_hours as teaching_hours,
        topd.weeks_teach as weeks_teach,
        topd.type as type
        from tb_opening_plan top
        left join tb_opening_plan_detail topd
        on top.id = topd.opening_plan_id
        left join tb_secondary_college tsc on top.secondary_college_id = tsc.id
        left join tb_user tu on top.teacher_id = tu.id
        left join tb_user_info tui on tu.id = tui.user_faculty_id
        left join tb_teaching_group ttg on top.teaching_group_id = ttg.id
        left join tb_grade tg on top.grade_id = tg.id
        left join tb_major tm on tg.major_id = tm.id
        <where>
            <if test="user.id!=null">
                top.teacher_id = #{user.id}
            </if>
            <if test="user.gradeId!=null">
                or top.grade_id = #{user.gradeId}
            </if>
            and top.is_deleted = 0
            and topd.is_deleted = 0
            and tsc.is_deleted = 0
            and tu.is_deleted = 0
            and ttg.is_deleted = 0
            and tm.is_deleted = 0
            and tui.is_deleted = 0
        </where>
    </select>

    <select id="getPlanById" resultMap="openPlanWithDetails">
        select top.id          as id,
               top.state       as state,
               top.create_time as create_time,
               ttg.id          as teaching_group_id,
               ttg.name        as teaching_group_name,
               tsc.id          as secondary_college_id,
               tsc.name        as secondary_college_name,
               tm.id           as major_id,
               tm.name         as major_name,
               tg.id           as grade_id,
               tg.year as year,
               tg.number as number,
               tu.id as user_id,
               tu.name as user_name,
               tu.icon as user_icon,
               tu.phone_number as user_phone_number,
               tui.email as user_email,
               tui.address as user_address,
               tui.sex as user_sex,
               topd.id as course_id,
               topd.course_name as course_name,
               topd.credit as credit,
               topd.teaching_hours as teaching_hours,
               topd.weeks_teach as weeks_teach,
               topd.type as type
        from tb_opening_plan top
            left join tb_opening_plan_detail topd
        on top.id = topd.opening_plan_id
            left join tb_secondary_college tsc on top.secondary_college_id = tsc.id
            left join tb_user tu on top.teacher_id = tu.id
            left join tb_user_info tui on tu.id = tui.user_faculty_id
            left join tb_teaching_group ttg on top.teaching_group_id = ttg.id
            left join tb_grade tg on top.grade_id = tg.id
            left join tb_major tm on tg.major_id = tm.id
        where top.id=#{id}
          and top.is_deleted = 0
          and topd.is_deleted = 0
          and tsc.is_deleted = 0
          and tu.is_deleted = 0
          and ttg.is_deleted = 0
          and tm.is_deleted = 0
          and tui.is_deleted = 0
    </select>
    <select id="getAllPlanList" resultMap="openPlanWithDetails">
        select top.id          as id,
               top.state       as state,
               top.create_time as create_time,
               ttg.id          as teaching_group_id,
               ttg.name        as teaching_group_name,
               tsc.id          as secondary_college_id,
               tsc.name        as secondary_college_name,
               tm.id           as major_id,
               tm.name         as major_name,
               tg.id           as grade_id,
               tg.year as year,
               tg.number as number,
               tu.id as user_id,
               tu.name as user_name,
               tu.icon as user_icon,
               tu.phone_number as user_phone_number,
               tui.email as user_email,
               tui.address as user_address,
               tui.sex as user_sex,
               topd.id as course_id,
               topd.course_name as course_name,
               topd.credit as credit,
               topd.teaching_hours as teaching_hours,
               topd.weeks_teach as weeks_teach,
               topd.type as type
        from tb_opening_plan top
            left join tb_opening_plan_detail topd
        on top.id = topd.opening_plan_id
            left join tb_secondary_college tsc on top.secondary_college_id = tsc.id
            left join tb_user tu on top.teacher_id = tu.id
            left join tb_user_info tui on tu.id = tui.user_faculty_id
            left join tb_teaching_group ttg on top.teaching_group_id = ttg.id
            left join tb_grade tg on top.grade_id = tg.id
            left join tb_major tm on tg.major_id = tm.id
        where top.is_deleted = 0
          and topd.is_deleted = 0
          and tsc.is_deleted = 0
          and tu.is_deleted = 0
          and ttg.is_deleted = 0
          and tm.is_deleted = 0
          and tui.is_deleted = 0
    </select>

</mapper>
