<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.OperateLogMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.OperateLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
            <result property="operateUrl" column="operate_url" jdbcType="VARCHAR"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
            <result property="operateParam" column="operate_param" jdbcType="VARCHAR"/>
            <result property="jsonResult" column="json_result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,business_type,
        method,request_method,operator_name,
        operate_url,operate_ip,operate_param,
        json_result,status,error_msg,
        operate_time,create_time,update_time,
        is_deleted
    </sql>
    <select id="selectOperLogList" resultType="com.chen.graduation.beans.VO.OperateLogVO" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from db_textbook_subscription_system.public.tb_operate_log
        <where>
            <if test="search.title != null and search.title != ''">
                AND title like concat('%', #{search.title}, '%')
            </if>
            <if test="search.businessType != null">
                AND business_type = #{search.businessType}
            </if>
            <if test="search.status != null">
                AND status = #{search.status}
            </if>
            <if test="search.operatorName != null and search.operatorName != ''">
                AND operator_name like concat('%', #{search.operatorName}, '%')
            </if>
            <if test="search.beginTime != null and search.beginTime != ''"><!-- 开始时间检索 -->
                AND operate_time &gt;= #{search.beginTime}::timestamp
            </if>
            <if test="search.endTime != null and search.endTime != ''"><!-- 结束时间检索 -->
                AND operate_time &lt;= #{search.endTime}::timestamp
            </if>
        </where>
        order by id desc
    </select>
</mapper>
