<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="sortValue" column="state" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        state,sort_value,create_time,update_time,
        is_deleted
    </sql>
    <select id="getRoleByUserId" resultType="com.chen.graduation.beans.PO.Role">
        select tb_role.*
        from tb_role left join tb_user_role tur on tb_role.id = tur.role_id
        where user_id=#{userId} and tb_role.is_deleted=0 and tur.is_deleted=0
    </select>
</mapper>
