<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.graduation.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.chen.graduation.beans.PO.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="teachingGroupId" column="teaching_group_id" jdbcType="BIGINT"/>
            <result property="secondaryCollegeId" column="secondary_college_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,password,
        phone_number,teaching_group_id,secondary_college_id,
        name,icon,state,
        create_time,update_time,is_deleted,type
    </sql>
    <select id="getTeacherList" resultType="com.chen.graduation.beans.PO.User">
        select *
        from tb_user
        where type=1
          and is_deleted=0
          and state=0;
    </select>
    <select id="selectUserList" resultType="com.chen.graduation.beans.PO.User">
        select <include refid="Base_Column_List"/>
            from tb_user
        <where>
            is_deleted=0
            <if test="dto.account !=null and dto.account !=''">
               and account like concat('%',#{dto.account},'%')
               or name like concat('%',#{dto.account},'%')
            </if>
            <if test="dto.phoneNumber !=null and dto.phoneNumber !=''">
               and phone_number like concat('%',#{dto.phoneNumber},'%')
            </if>
            <if test="dto.state != null">
                and state=#{dto.state}
            </if>
            <if test="dto.type != null">
                and type=#{dto.type}
            </if>
        </where>
        order by id
    </select>
    <select id="selectAllocatedList" resultType="com.chen.graduation.beans.PO.User">
        select distinct u.id, u.account, u.name, u.phone_number, u.state, u.create_time
        from tb_user u
        left join tb_user_role ur on u.id = ur.user_id
        where u.is_deleted = 0 and ur.is_deleted=0 and ur.role_id=#{roleId}
        <if test="user.account != null and user.account != ''">
            AND u.account like concat('%', #{user.account}, '%')
        </if>
        <if test="user.phoneNumber != null and user.phoneNumber != ''">
            AND u.phone_number like concat('%', #{user.phoneNumber}, '%')
        </if>
        order by u.id
    </select>
    <select id="selectUnallocatedList" resultType="com.chen.graduation.beans.PO.User">
        select distinct u.id, u.account, u.name, u.phone_number, u.state, u.create_time
        from tb_user u
        left join tb_user_role ur on u.id = ur.user_id
        where u.is_deleted = 0 and (ur.is_deleted=0 or ur.is_deleted is null ) and (ur.role_id != #{roleId} or ur.role_id is NULL)
        and u.id not in (select u.id from tb_user u inner join tb_user_role ur on u.id = ur.user_id and ur.role_id = #{roleId})
        <if test="user.account != null and user.account != ''">
            AND u.account like concat('%', #{user.account}, '%')
        </if>
        <if test="user.phoneNumber != null and user.phoneNumber != ''">
            AND u.phone_number like concat('%', #{user.phoneNumber}, '%')
        </if>
        order by u.id
    </select>
</mapper>
